<style>
    .Catalogcontentup{
        margin-left: 20px; line-height: 27px;
    }
    .Catalogcontentup>ul,.Catalogcontentup>div{
        margin-left: 20px;
    }
</style>
<div class="editingarea">
    <div class="c_flex"><span class="c_flexible"></span></div>
    <div class="c_editview">
        <div class="c_condition">
            <span><select><option>题干</option></select></span>
            <span class="pl5 " ><input type="text"></span>
            <span class="pl15 pr15 btn_gray ">查找</span>
            <span class="icon_lead-in"><em class="icon_r">批量导入题目</em></span>
            <span class="icon_add"><em class="icon_r" ng-click="add()">单个添加题目</em></span>
        </div>
        <div class="divtable">
            <subject-dt>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablea">
                <tr>
                    <td align="center" style="width: 50px;">题型</td>
                    <td align="left">
                        <div class="chose">
                            <a href="javascript:void(0);" class="active3">全部</a>
                            <a href="javascript:void(0);" class="" ng-repeat="type in types">{{type.relname}}</a>

                        </div>
                    </td>

                </tr>
                <tr>
                    <td align="center">方向</td>
                    <td align="left">
                        <div class="chose">
                            <a href="javascript:void(0);" class="active3">全部</a>
                            <a href="javascript:void(0);" class="" ng-repeat="department in departments">{{department.relname}}</a>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">知识点</td>
                    <td align="left">
                        <div class="chose">
                            <a href="javascript:void(0);" class="active3">全部</a>
                            <a href="javascript:void(0);" class="" ng-repeat="topic in topics">{{topic.title}}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">难度</td>
                    <td align="left">
                        <div class="chose">
                            <a href="javascript:void(0);" class="active3">全部</a>
                            <a href="javascript:void(0);" class="" ng-repeat="level in levels">{{level.relname}}</a>
                        </div>
                    </td>

                </tr>
            </table>
            </subject-dt></div>
        <div class="Catalog">

            <div class="Catalog_right">
                <div class="Catalogtitle">
                    总计<em>15552</em>
                    道题&nbsp;&nbsp;提示：单击可显示答案和解析&nbsp;&nbsp;
                    <input type="checkbox" ng-model="isShow" /><b>显示答案和解析</b>&nbsp;&nbsp;
                    <a href="#" class="Thispage">本页全部试题加入试卷</a>
                    <div><i>1</i><a href="#" class="pageone">前</a><a href="#" class="pagetwo">后</a></div></div>
                <div class="Catalog_rightnei" ng-repeat="subject in subjects">
                    <div class="Catalogtitwo">
                        <b>题号：</b>{{subject.id}}&nbsp;&nbsp;
                        <b>题型：</b>{{subject.subjectType.realName}}&nbsp;&nbsp;
                        <b>难度：</b>{{subject.subjectLevel.realName}}&nbsp;&nbsp;
                        <b>上传人：</b>{{subject.user}}&nbsp;&nbsp;
                        <b>上传时间：</b>{{subject.uploadTime}}&nbsp;&nbsp;
                        </div>
                    <div class="Catalogcontent">
                        <div class="Catalogcontentup">
                            <!--题干-->
                            <h4>{{$index+1}}、{{subject.stem}}</h4>
                            <!--题目选项-->
                            <ul>
                                <li ng-repeat="choice in subject.choices">
                                    <!--利用三目运算符判断ABCD-->
                                    {{choice.no}}
                                    {{choice.content}}
                                </li>
                            </ul>
                            <div ng-show="isShow">
                                <b>正确答案：</b>
                                {{subject.answer}}<br>
                                {{subject.analysis}}
                            </div>
                        </div>
                        <div class="Catalogcontentdown">
                            <a href="#">审核通过</a>
                            <a href="#">加入试卷</a>
                            <a href="#">审核不通过</a>
                            <a href="#">删除题目</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>